#chat-root {
    height: 50%;
    width: 100%;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
}

#chat-title-container {
    flex: 1;
}

#chat-messages-container {
    flex: 1;
}

#chat-messages {
    height: 65%;
    overflow: scroll;
    padding: 0px 20px 0px 20px;
}

.chat-message {
    color: white;
    font-size: 18px;
}

#chat-title {
    font-size: 18px;
    text-align: center;
    padding: 5px 0px 20px 0px;
}

#chat-input-container {
    height: 50px;
    display: flex;
    flex-direction: right;
}

#chat-input {
    width: 70%;
}

#chat-button {
    width: 30%;
    background-color: rgb(117, 117, 117);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}