html,
body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(#424242, #302E30);
    padding-top: 20px;
}

#header-title {
    line-height: 95px;
    vertical-align: middle;
    font: 52px Georgia bold;
    color: white;
}

#header-title:hover {
    color: slategray;
}