#room-root {
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
}

#main-container {
    padding: 20px 20px 20px 20px;
}

#input-container {
    text-align: center;
}

#answer-input {
    margin-left: 45px;
}

#questions-queue {
    font-size: 20px;
    color: white;
}