<div id="chat-root">
    <div id="chat-messages-container">
        <div id="chat-messages">
            <div ng-repeat="message in $ctrl.chatHistory track by $index" class="chat-message">
                <b> {{message.author}} </b>: <span><i>{{message.message}}</i></span>
            </div>
        </div>
    </div>
    <div id="chat-input-container">
        <input id="chat-input" type="text" ng-model="$ctrl.query" placeholder="Send a message.." />
        <button ng-click="$ctrl.sendMessage()" id="chat-button"><b>Send</b></button>
    </div>
</div>