<div id="room-root" class="container">
    <div class="row">
        <div id="main-container" class="col s8">
            <question id="question"></question>

            <div id="input-container" class="container">
                <a class="waves-effect waves-teal btn-flat">Post Question</a>
                <div class="row">
                    <textarea name="question" id="answer-input" cols="25" rows="10" class="col s10"></textarea>
                    <a class="waves-effect waves-teal btn-flat">Answer</a>
                </div>
            </div>
        </div>

        <div id="tool-container" class="col s4">
            <div id="questions-queue">
                <span>File d'attente</span>
            </div>
            <chat></chat>
        </div>
    </div>
</div>

<div id="post-modal" class="modal">
    <div class="modal-content">
        <h4>Posez votre question !</h4>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>